In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [27]:
df = pd.read_csv('online.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [6]:
df.shape

(50, 5)

In [9]:
features = ['Marketing Spend','Administration','Transport','Area']

In [10]:
x = df[features]
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [11]:
y = df.Profit
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
#  apply one hot encoding
city = pd.get_dummies(x['Area'],drop_first=True).astype(int)

In [26]:
city.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [16]:
#  drop the area column
x = x.drop('Area',axis=1)

In [25]:
x.head()

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10      1        0
1        162597.70       151377.59  443898.53      0        0
2        153441.51       101145.55  407934.54      0        1
3        144372.41       118671.85  383199.62      1        0
4        142107.34        91391.77  366168.42      0        1

In [18]:
# concatenation
x = pd.concat([x,city],axis=1)

In [24]:
x.head()

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10      1        0
1        162597.70       151377.59  443898.53      0        0
2        153441.51       101145.55  407934.54      0        1
3        144372.41       118671.85  383199.62      1        0
4        142107.34        91391.77  366168.42      0        1

In [20]:
# data spliting
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [28]:
model = LinearRegression()

In [29]:
model.fit(x_train,y_train)

LinearRegression()

In [30]:
y_pred = model.predict(x_test)

In [31]:
y_pred

array([103041.93019584, 128255.24514289, 126922.75723244,  71221.31157266,
       173705.4106333 , 124824.61560479,  70488.40325151,  98535.73506129,
       116684.02101869, 161845.22370375])

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test,y_pred)

0.8798164664885628

In [34]:
model.score(x_test,y_test)

0.8798164664885628